brotli==1.0.9
brotlicffi==1.0.9.2
ConfigParser==5.2.0
cryptography==37.0.2
Cython==0.29.30
disco==1.40.4
dl==0.1.0
docutils==0.18.1
HTMLParser==0.0.2
importlib_metadata==4.8.1
importlib_resources==5.7.1
ipython==8.4.0
ipywidgets==7.7.0
keyring==23.5.1
lockfile==0.12.2
lxml==4.8.0
matplotlib==3.5.2
mock==4.0.3
numpy==1.22.4
ordereddict==1.1
pandas==1.4.2
protobuf==4.21.1
psutil==5.9.1
pyOpenSSL==22.0.0
pysendfile==2.0.1
scandir==1.10.0
setuptools_scm==6.4.2
simplejson==3.17.6
slack_sdk==3.17.0
tensorflow==2.9.1
toml==0.10.2
tornado==6.1
unicodedata2==14.0.0
unittest2==1.1.0
xmlrpclib==1.0.1
zipp==3.8.0
